.songs-genre {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.genre-details {
  display: flex;
  padding-left: 120px;
  position: relative;
}

.songs-genre > img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.songs-genre-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .genre-details {
    padding-left: 10px;
  }
    
  .songs-genre-content {
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
  }
}
  