.songs-by-genre {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #f5f5f5;
}

.genre-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #f5f5f5;
  margin-top: 20px;
}

.genre-header h2 {
  padding-left: 120px;
  font-size: 40px;
  font-weight: bold
}

.genre-header > img {
  padding-right: 120px;
}

.genre-details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  padding-top: 30px;
}