.card {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  margin: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  padding: 10px
}

.card-light {
  background-color: #dfdfdf;
}

.card-dark {
  background-color: #ababab;
}

.card img {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-sizing: border-box;
  margin-top: 10px;
  margin-left: 40px;
  border: 1px solid black;
}

.song-user {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  height: 100px;
  justify-content: space-between;
}

.song-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.song-name {
  margin-top: 5px;
  font-size: 15px;
  height: 20px;
  overflow: hidden;
}

.song-artist {
  font-size: 10px;
  height: 20px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

.like img{
  height: 25px;
  width: 25px;
  border-radius: 0%;
  border: none;
}

.like p {
  color: white;
  font-size: 10px;
  margin-top: -25px;
  margin-left: 40px;
}

.btn-like {
  background-color: transparent;
  border: none;
  color: white;
  width: 30px;
  height: 30px;
  background-color: transparent;
}


@media screen and (max-width: 768px) {
  .card {
    height: 250px;
    width: 300px;
  }

  .card img {
    height: 180px;
    width: 180px;
    margin-left: 60px;
  }

  .song-user {
    height: 50px;
    margin: 0px;
  }

  .song-name {
    height: 30px;
    font-size: 20px;
  }

  .song-artist {
    font-size: 15px;
  }
  
  .like img{
    height: 20px;
    width: 20px;
  }
  
  .like p {
    margin-top: -23px;
    margin-left: 50px;
  }
}
  
@media screen and (max-width: 400px) {
  .card {
    height: 150px;
    width: 200px;
  }

  .card img {
    height: 100px;
    width: 100px;
    margin-left: 50px;
    margin-top: 5px;
  }

  .song-user {
    height: 50px;
    margin: 0px;
  }

  .song-name {
    height: 30px;
    font-size: 15px;
  }

  .song-artist {
    height: 20px;
    font-size: 10px;
  }
  
  .like img{
    height: 15px;
    width: 15px;
  }
  
  .like p {
    margin-top: -20px;
    margin-left: 40px;
  }
}