.button-genre button{
  background-color: #4C63AA;
  color: white;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  right: 70%;
}

@media screen and (min-width: 250px) {
  .button-genre button{
    right: 10%;
  }
}

@media screen and (min-width: 350px) {
  .button-genre button{
    right: 30%;
  }
}

@media screen and (min-width: 500px) {
  .button-genre button{
    right: 50%;
  }
}

@media screen and (min-width: 750px) {
  .button-genre button{
    right: 65%;
  }
}

@media screen and (min-width: 820px) {
  .button-genre button{
    right: 55%;
  }
}