.button-genre button{
  background-color: #4C63AA;
  color: white;
  font-size: 1.2em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  border: none;
  text-align: center;
  font-weight: bold;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  position: absolute;
  right: 70%;
}

@media screen and (max-width: 250px) {
  .button-genre button{
    right: 10%;
  }
}

@media screen and  (min-width: 251px) and (max-width: 300px) {
  .button-genre button{
    right: 30%;
  }
}

@media screen and  (min-width: 301px) and (max-width: 500px){
  .button-genre button{
    right: 50%;
  }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
  .button-genre button{
    right: 50%;
  }
}

@media screen and (min-width: 8001px) and (max-width: 1000px) {
  .button-genre button{
    right: 55%;
  }
}